body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg,cyan, rgb(209, 108, 184));
    text-align: center;
    color: white;
}


#telaSobre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.sair {
    position: absolute;
    text-decoration: none;
    color: white;
    border: 3px solid dodgerblue;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    left: 85%;
    top: 65%;
    
    
}

.sair:hover {
    background-color: rgba(83, 161, 238, 0.692);
    color: white;
}

.mb-3 {
    font-size: 35px;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}




