body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg,cyan, rgb(209, 108, 184));
    text-align: center;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10%;
}

.sair {
    position: absolute;
    top: 8%;
    left: 85%;
    text-decoration: none;
    color: white;
    border: 3px solid dodgerblue;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.sair:hover {
    background-color: rgba(189, 119, 171, 0.404);
    color: white;
}

.voltar {
    position: absolute;
    top: 5%;
    left: 5%;
    text-decoration: none;
    color: white;
    border: 3px solid dodgerblue;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.voltar:hover {
    background-color: dodgerblue;
    color: white;
}

.list-group-item {
    text-align: left;
}

.container {
    width: 100%;
    padding: auto;
    text-align: start;
    margin-top: -50px;
}

#telaInicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 90px;
    border-radius: 10px;
}

.colors {

    font-family: Arial, Helvetica, sans-serif;
    color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
}

.position {
    text-align: center;
}